<h1>Hello, <%= @ticket.customer_name %></h1>
  <p>
    We have responded to your ticket [##<%= @ticket.id %>]. Here is our response:
  </p>
  <p>
    <%= @response %>
    <%= @attachment%>
  </p>
  <p>
    Thank you for your patience.
  </p>