<div class="email-header">
  <h1>SmartAgent</h1>
</div>
<div class="email-body">
  <p>
    We have responded to your request [<span class="ticket-id">Ticket ID #<%= @ticket.id %></span>].
  </p>
  <p>
    <%= @response %>
    <%= @attachment %>
  </p>
  <p>
    Thank you for your patience.
  </p>
</div>